<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Cycool</title>
  </head>
  <body>
    <h3>About | Cycool</h3>
    <P> Cycool - The Cycle Sharing app</P>
  </body>
</html>
