<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <h1>Log in</h1>
    <div class="" id="add-cycle-form">
      <form method="POST" action="/addcycle" enctype="multipart/form-data">
        <br />
        Cycle Name : <input type="text" name="cycle_name" /> <br />From user
        Pickup location : <input type="text" name="pickup_address" /> <br />from
        time : <input type="datetime-local" name="from_time" /><br />
        to time : <input type="datetime-local" name="to_time" /><br />
        Upload cycle image if you want :
        <input type="file" name="myFile" /><br />

        <input type="submit" />
      </form>
      <br />
      <a href="/">Home</a>
    </div>
  </body>
</html>
