<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <h1>Register</h1>
    <div class="" id="register-form">
      <form method="POST" action="/register">
        <br />
        User Name : <input type="text" name="name" required /> <br />
        email: <input type="email" name="user_email" required /><br />
        Password : <input type="password" name="password" />
        <br />
        Address :
        <input type="text" name="address" /><br />
        Contact no : <input type="number" name="contact_no" required /><br />

        <input type="submit" />
      </form>
    </div>

    <a href="/login">Log in</a>
    <br />
    <a href="/">Home</a>
  </body>
</html>
