<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Hello <%-email%></h3>
    <br />

    <form method="POST" action="/reset">
      <input type="hidden" name="email" id="usermailvalue" /> <br />

      Enter New Password :
      <input
        type="password"
        name="password"
        placeholder="New Password ..."
      /><br />
      Confirm New Password:
      <input
        type="password"
        name="password2"
        placeholder="Confirm New Password ..."
      /><br />
      <input type="submit" />
    </form>

    <script>
      var emailId = "<%-email%>";
      console.log(emailId);

      document.getElementById("usermailvalue").value = emailId;
    </script>
  </body>
</html>
